$colors: (
        'black': '0, 0, 0',
        'white': '255, 255, 255',
        'slate': '100, 116, 139',
        'gray': '156, 163, 175',
        'zinc': '161, 161, 170',
        'neutral': '163, 163, 163',
        'stone': '168, 162, 158',
        'red': '239, 68, 68',
        'orange': '249, 115, 22',
        'amber': '245, 158, 11',
        'yellow': '234, 179, 8',
        'lime': '132, 204, 22',
        'green': '34, 197, 94',
        'emerald': '16, 185, 129',
        'teal': '20, 184, 166',
        'cyan': '6, 182, 212',
        'sky': '14, 165, 233',
        'blue': '59, 130, 246',
        'indigo': '99, 102, 241',
        'violet': '139, 92, 246',
        'purple': '168, 85, 247',
        'fuchsia': '217, 70, 239',
        'pink': '236, 72, 153',
        'rose': '244, 63, 94'
);