$colors: 'slate', 'gray', 'zinc', 'neutral', 'stone', 'red', 'orange', 'amber', 'yellow', 'lime', 'green', 'emerald', 'teal', 'cyan', 'sky', 'blue', 'indigo', 'violet', 'purple', 'fuchsia', 'pink', 'rose';

.wrapper {
  @apply
  w-full
  flex
  flex-col
  gap-2
  text-gray-500;
  & > ul {
    @apply text-xs;
  }

  & > small {
    @apply text-xs;
  }

  & > div {
    @apply
    transition-all
    flex
    gap-3
    bg-white
    items-center
    px-4
    w-full
    text-gray-500;
    :global(.dark) & {
      @apply bg-gray-800 text-gray-300;
    }

    &.outlined {
      @apply
      focus-within:ring-2
      focus-within:border-transparent
      rounded-lg
      border-gray-200
      border;
      :global(.dark) & {
        @apply border-gray-700 focus-within:border-transparent;
      }
    }

    &.underlined {
      @apply border-b-2;
      :global(.dark) & {
        @apply border-gray-500;
      }
    }

    &.filled {
      @apply border-b-2 bg-gray-100;
      :global(.dark) & {
        @apply bg-gray-800 border-gray-500;
      }
    }

    @each $color in $colors {
      &.#{$color} {
        &.outlined {
          @apply ring-#{$color}-500;
        }

        &.underlined{
          @apply focus-within:border-b-#{$color}-500;
        }
        &.filled {
          @apply focus-within:bg-gray-200;
          :global(.dark) & {
            @apply focus-within:bg-gray-900;
          }
        }
      }
    }

    &.rounded {
      @apply rounded-full #{!important};
    }
    &.isDisabled {
      @apply bg-gray-200 cursor-not-allowed;
      :global(.dark) & {
        @apply bg-gray-700;
      }
    }
    & > div.passwordRevealIcon {
      @apply cursor-pointer hover:brightness-90;
    }
    & > input {
      @apply
      w-full
      outline-none
      h-full
      disabled:cursor-not-allowed
      bg-transparent;
      &.sm {
        @apply h-8 text-sm;
      }

      &.base {
        @apply h-10 text-base;
      }

      &.lg {
        @apply h-12 text-lg;
      }
    }
  }
  &.isInvalid {
    @apply text-red-500;
    & > div {
      @apply text-red-500 #{!important};
      &.outlined {
        @apply
        border-red-300
        ring-red-500
        focus-within:border-transparent #{!important};
      }
      &.underlined, {
        @apply
        border-red-300
        focus-within:border-red-500 #{!important};
      }
      &.filled {
        @apply
        bg-red-100
        focus-within:bg-red-200
        border-b-red-300
        focus-within:border-b-red-500  #{!important};
        & > input::placeholder {
          @apply text-red-400 #{!important};
        }
      }
      & > input::placeholder {
        @apply text-red-300 #{!important};
      }
    }
  }
}


